/* Variables */
/* fonts */
/* colors */
/* Global */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gotu";
}

/* Header */
.header {
  min-height: 100vh;
  background: url(https://i.postimg.cc/tCS0gZW9/brown-light-on-black-background-1108812.jpg) no-repeat;
  background-size: cover;
  color: #ffffff;
}

.header .container {
  position: relative;
  width: 1140px;
  height: 100vh;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  padding: 0 15px;
}

/* Menu */
.header .menu {
  position: absolute;
  top: 8vh;
  left: 0;
  right: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.header .menu ul {
  list-style: none;
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.header .menu ul li {
  margin: 0 25px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

.header a {
  text-decoration: none;
  color: #ffffff;
}

/* Logo */
.logo {
  font-family: "Leckerli One";
  color: #eccc68;
  font-size: 20px;
  transition: 1s;
}

.logo:hover {
  transform: scale(1.3);
  cursor: pointer;
}

/* Main */
.main {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.main h1, p {
  text-shadow: 1px 1px 5px #000;
}

.main h1 {
  font-style: italic;
  font-family: "Gotu";
  margin-bottom: 10px;
  font-size: 40px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  letter-spacing: 0.8px;
}

.main p {
  text-transform: uppercase;
  font-family: "Roboto Condensed";
  font-size: 75px;
  font-weight: 700;
  margin-bottom: 20px;
  letter-spacing: 1.2px;
}

.button {
  width: 280px;
  margin: 0 auto;
  text-transform: uppercase;
  padding: 20px 0;
  font-size: 20px;
  font-family: "Roboto Condensed";
  color: #ffffff;
  background-color: #fed330;
  border: 0;
  border-radius: 3px;
  margin-top: 30px;
  font-weight: bolder;
  letter-spacing: 0.4px;
}

.button:hover {
  cursor: pointer;
}

/* Section services */
.services {
  min-height: 100vh;
  background-color: #ffffff;
}

.container {
  width: 1140px;
  height: 100vh;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.services .container .text {
  position: absolute;
  left: 0;
  top: 15vh;
  right: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
}

.text h2 {
  text-transform: uppercase;
  font-size: 45px;
  font-weight: 700;
  font-family: "Roboto Condensed";
  letter-spacing: 0.9px;
  margin-bottom: 10px;
}

.text p {
  text-shadow: none;
  font-style: italic;
  color: #707070;
}

.services .boxes {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.boxes .box {
  text-align: center;
  margin: 0 25px;
}

.box h3 {
  font-size: 21px;
  font-family: "Roboto Condensed";
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 30px;
}

.box p {
  text-shadow: none;
  font-size: 14px;
  color: #707070;
}

.boxes .box i {
  font-size: 50px;
  color: #fed330;
  border-radius: 200px;
  border: 3px solid #fed330;
  padding: 15px;
}

/* Portfolio */
.sect-port {
  min-height: 100vh;
  background-color: #ffffff;
}

.sect-port .sect-container {
  height: 100vh;
  width: 1140px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 200px;
}

.sect-container .sect-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
}

.sect-text h2 {
  text-transform: uppercase;
  font-size: 45px;
  font-weight: 700;
  font-family: "Roboto Condensed";
  letter-spacing: 0.9px;
  margin-bottom: 10px;
}

.sect-text p {
  text-shadow: none;
  font-style: italic;
  color: #707070;
}

.port-boxes {
  margin-top: 300px;
}

.port-boxes .port-box {
  height: 370px;
  width: 320px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
}

.port-boxes .port-box img {
  widht: 100%;
  height: 100%;
  object-fit: cover;
}

.port-boxes .port-box h3 {
  font-size: 16px;
  margin-bottom: -4px;
  margin-top: 20px;
  font-family: "Gotu";
  font-weight: 700;
}

.port-boxes .port-box p {
  font-size: 12px;
  text-shadow: none;
  font-style: italic;
}

.sect-container .port-boxes {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.port-box {
  padding: 50px 0;
}

/* Footer */
/*.footer {
    width: 1140px;
    min-height: 200px;
    position: relative;
    margin-bottom: 50px;
}

.footer-cont {
   
}

.footer-font {
    position: absolute;
    bottom: 0;
    left: 14vw;
}

.footer-font p {
    text-shadow: none;
    font-size: 14px;
}
*/
.footer {
  width: 1140px;
  margin: 0 auto;
  position: relative;
}

.footer .footer-cont {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 30px;
  margin-top: 250px;
}

.footer .footer-font {
  position: absolute;
  left: 0;
}

.footer .footer-font p {
  text-shadow: none;
  font-size: 12px;
}

.footer .awesome i {
  font-size: 35px;
  padding-right: 20px;
}
/*# sourceMappingURL=style.css.map */