@import url('https://fonts.googleapis.com/css?family=Gotu|Leckerli+One|Roboto+Condensed&display=swap');

/* Variables */

/* fonts */
$font-logo: 'Leckerli One';
$font-one: 'Gotu';
$font-two: 'Roboto Condensed';

/* colors */
$color-logo: #eccc68;
$color-one: #fed330;
$color-two: #2C3A47;
$color-three: #ffffff;

/* Global */
* {
    margin: 0;
    padding: 0;
    font-family: $font-one;
    box-sizing: border-box;
}

/* Header */
.splash {
    background-image: url("https://i.postimg.cc/tCS0gZW9/brown-light-on-black-background-1108812.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
}


/* Navigation */

.splash-inner ul {
    float: right;
    list-style-type: none;
}

.splash-inner ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: $color-three;
    padding: 5px 20px;
}

.golden {
    display: inline-block;
}

.logo {
    float: left;
    color: $color-one;
    font-family: $font-logo;
    font-size: 18px;
    transition: 0.6s;
}

.logo:hover {
    transform: scale(1.7);
    cursor: pointer;
}

.splash-inner {
    padding: 35px 100px;
}