@import url('https://fonts.googleapis.com/css?family=Gotu|Leckerli+One|Roboto+Condensed&display=swap');

/* Variables */

/* fonts */
$font-logo: 'Leckerli One';
$font-one: 'Gotu';
$font-two: 'Roboto Condensed';

/* colors */
$color-logo: #eccc68;
$color-one: #fed330;
$color-two: #2C3A47;
$color-three: #ffffff;


